@font-face {
    font-family: 'Futura Condensed Medium';
    src: font-url('futura-pt_cond-medium.otf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Courier Prime Regular';
    src: font-url('CourierPrime-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}