$faded-aqua: #adcfdf;
$black: #000;
$white: #fff;
$pumpkin: #bb4f35;
$cider: #cf8848;

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: $pumpkin;
  font-family: 'Futura Condensed Medium', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.section {
  padding: 20px 20px;
  margin: 0;
  text-align: center;
  overflow: auto;
}

.section::after {
  content: "";
  clear: both;
  display: table;
}

.section:nth-of-type(3n + 1) {
  background-color: $pumpkin;
  color: $white;
}

.section:nth-of-type(3n + 2) {
  background-color: $faded-aqua;
}

.section:nth-of-type(3n) {
  background-color: $cider;
}

img {
  width: 1000px;
  max-width: 90%;
  height: auto;
}

img.right {
  float: right;
  width: 500px;
  max-width: 50%;
}

h1, h2 {
  margin: 20px 0 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}


p {
  font-family: 'Courier Prime Regular', monospace;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}